# Python byte code
*.pyc
__pycache__/

# Virtual environment
venv/

# Example dossiers and testing files
*examples/
test/

# configuration files
configuration*.json

# Build files
dist/
output/
build/
*.spec
*.toml
build.bat
wix314.exe
installer/

# Project files
SIP_Creator/
main.spec
*.db
test.py

# Coverage
htmlcov/
.coverage
coverage.xml

# Tool caches
.ruff_cache/
.pytest_cache/

# Tests
tst/
