# Python byte code
*.pyc
__pycache__/

# Virtual environment
venv/

# Example dossiers and testing files
*examples/
test/

# configuration files
configuration*.json

# Build files
dist/
output/
build/

# Project files
SIP_Creator/
main.spec
*.db
test.py
