# Python byte code
*.pyc
__pycache__/

# Virtual environment
venv/

# Example dossiers
examples/

# configuration files
configuration*.json

# Build files
dist/
output/
build/

# Project files
SIP_Creator/
main.spec
sqlite.db
test.py
